<?xml version="1.0" encoding="UTF-8" standalone="yes"?><plugin version="php"><id>ZBlogSEO</id><name>ZBlogSEO插件</name><url>http://www.fengyan.cc/</url><note>ZBlog建站必备SEO插件</note><description>

VFRKYWFGbFhUWGRaVjFWMFdYcHNiVTVETURCTlZGVjNURlJvYVZwcVNYUk5WRWsxVFdwc2JFNXRXVEJhUkdoclRHcEZNazVFWnpWT1ZHYzBUMFJOTWsxNlp6MHVOM040YmpWdVJuRmhRMVptVVRGdWRrRldPV2xOVkU1Tk5VNXZQUT09</description><path>plugin/Relevant.php</path><include>include.php</include><level>1</level><author><name>烽烟工作室</name><email>info@fengyan.cc</email><url>http://www.fengyan.cc/</url></author><source><name/><email/><url/></source><adapted>151935</adapted><version>7.9</version><pubdate>2018-01-31</pubdate><modified>2022-03-13</modified><price>149</price><phpver>5.3</phpver><advanced><dependency/><rewritefunctions/><existsfunctions/><conflict/></advanced><sidebars><sidebar1/><sidebar2/><sidebar3/><sidebar4/><sidebar5/><sidebar6/><sidebar7/><sidebar8/><sidebar9/></sidebars><hash>EDCFDkDoJTMB06d5Q8rotmNvQBdaajFJyV4C7ZE2DPUesE7ne+3taGQXkqYuGJE6</hash><downloader>TTJaaFlXTXdZV1V0WXpsbU5DMDBNVFV3TFRoaVpqSXRNVEk1TWpsbE5tWTBaRGhrTGpFMk5EZzVOVGc0T0RNMk16Zz0uN3N4bjVuRnFhQ1ZmUTFudkFWOWlNVE5NNU5vPQ==</downloader></plugin>